@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
}
body::-webkit-scrollbar {
  width: 0px; /* Set the width of the scrollbar */
}
body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-ms-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/**************************************/
/**************************************/
/**************************************/
/**************************************/


.main__wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 1);
}

.main__wrapper__placeholder {}

.content__container {
  width: 100%;

  overflow: hidden;
}

.header__circle__burger{
  z-index: 900;
  position: fixed;
  width: 62px;
  height: 62px;
  flex-shrink: 0;


  border-radius: 51px;
background: linear-gradient(180deg, #1F9D96 0%, #9D9D9D 100%);
box-shadow: -9px 11px 13px -1px rgba(0, 0, 0, 0.40);
  right: 45px;
  top: 60px;


  display: flex;
  align-items: center;
  justify-content: center;


  cursor: pointer;
}
.header__circle__burger img {
  cursor: pointer;
}
.expanded-block-container {
  z-index: 900;
  position: fixed;
  top: 150px;
  right: 0;
  width: 0;
  height: 500px;

  overflow: hidden;

  transition: width 0.3s ease-in-out;
}

.expanded-block {
  width: 300px;

  text-align: right;

  padding-right: 45px   ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


  display: flex;
  flex-direction: column;

}

.expanded-block p {
  color: #FFF;
text-align: right;

font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 30px;

position: relative;

cursor: pointer;
}

.expanded-block a {
  color: #FFF;
  text-align: right;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 30px;
  
  position: relative;
  
  cursor: pointer;
}

.expanded-block p:nth-child(1):hover::before{
  content: "";
  width: 60px;
  height: 2px;
  position: absolute;
  bottom: -3px;
  right: 0;

  background-color: #1F9D96;
}



.expanded-block p:nth-child(2):hover::before{
  content: "";
  width:  120px;
  height: 2px;
  position: absolute;
  bottom: -3px;
  right: 0;

  background-color: #1F9D96;
}



.expanded-block p:nth-child(3):hover::before{
  content: "";
  width:  85px;
  height: 2px;
  position: absolute;
  bottom: -3px;
  right: 0;

  background-color: #1F9D96;
}





.expanded-block p:nth-child(4):hover::before{
  content: "";
  width:  110px;
  height: 2px;
  position: absolute;
  bottom: -3px;
  right: 0;

  background-color: #1F9D96;
}

.expanded-block p:nth-child(4){
display: none;
visibility: hidden;
}


.expanded-block p:nth-child(5):hover::before{
  content: "";
  width:  154px;
  height: 2px;
  position: absolute;
  bottom: -3px;
  right: 0;

  background-color: #1F9D96;
}



.expanded-block p:nth-child(6):hover::before{
  content: "";
  width:  90px;
  height: 2px;
  position: absolute;
  bottom: -3px;
  right: 0;

  background-color: #1F9D96;
}

.expanded-block p:nth-child(7):hover::before{
  content: "";
  width:  86px;
  height: 2px;
  position: absolute;
  bottom: -3px;
  right: 0;

  background-color: #1F9D96;
}

.expanded-block a {
  display: none;
  visibility: hidden;
}



























.content__main__block {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 400;
}

.__main__block__wrapper {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  z-index: 100;
}

.__main__image__placeholder {
  position: absolute;
  z-index: 20;
}

.__main__image__placeholder2 {
  position: absolute;
  z-index: 20;
  right: 0;
  bottom: -25em;
}

.__main__image__placeholder3 {
  position: absolute;
  z-index: 20;
  right: 0px;
  bottom: -40em;
}

.__main__image__placeholder4 {
  position: absolute;
  z-index: 10;
  right: 89px;
  bottom: -20em;
}

.__main__block__logo {
  position: absolute;
  height: 100px;
  width: 300px;
  top: 54px;
  left: 54px;
}

.__main__block__image img {
  width: 100%;
}

.__main__block__text {
  position: absolute;
  width: 619px;
  top: calc(50% - 131.5px);
  left: calc(50% - 309.5px);
  height: 263px;
}

.__main__block__text_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 700;
  color: #fff;
}

.__main__block__text_container p:nth-child(1) {
  font-size: 22px;
}

.__main__block__text_container p:nth-child(2) {
  font-size: 26px;
}

.__main__block__text_container p:nth-child(3) {
  font-size: 36px;
}

.__main__block__text_container p:nth-child(4) {
  font-size: 45px;
}

.__main__block__text_container img {
  width: 100%;
}

.__main__social__block {}

.__main__additional_desc__block {
  width: 600px;
  height: 160px;
  position: absolute;
  bottom: 50px;
  left: 54px;
}

.__main__additional_desc__block {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #fff;
  text-align: left;

}

.__main__additional_desc__block a {

  margin-top: 33px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 40px;
  width: 150px;
  background-color: rgba(31, 157, 150, 1);
  border-radius: 40px;
  border: 1px solid #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;



  /**! ************************/
  display: none;
  visibility: hidden;
}

.__main__additional_desc__block a p {


  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;

}

.__main__additional_desc__block img {
  height: 11px;
  width: 16px;
}



/**********WHAT WE DO***********/
/**********WHAT WE DO***********/
/**********WHAT WE DO***********/

.content__whatWeDo {
  width: 100%;
  min-height: 1300px;
  position: relative;
  z-index: 500;

}

.__whatWeDo__container {
  z-index: 500;
  position: absolute;
  width: 100%;


}

.__whatWeDo__placeholder {
  width: 100%;
  position: absolute;
  z-index: 300;

  bottom: -50vh;


}

.__whatWeDo__placeholder img {
  width: 100%;
}


.__whatWeDo__name {
  margin-left: 45px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 49px;
  margin-bottom: 154px;
}

.__whatWeDo__name p {
  font-size: 40px;
  font-weight: 500;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;

}

.__whatWeDo__line {
  width: 110px;
  height: 2px;
  background-color: rgba(31, 157, 150, 1);
  position: absolute;
  bottom: 5px;
}

.__whatWeDo__container__block {
  width: 100%;
}

.__whatWeDo__wrapper {


  height: 510px;

  max-width: 1302px;
  margin: 0 auto;

  margin-top: 23px;
  display: flex;
  justify-content: space-between;

  position: relative;


}



/*******************************/
.__whatWeDo__element {
  border-radius: 16px;
  width: 640px;
  height: 510px;


  background: url('./imgs/Rectangle\ 3.png');
  background-repeat: no-repeat;
  background-size: cover;


  opacity: 0.95;

  transition: height 0.3s ease-in-out;


  position: absolute;
  bottom: 0;
}

.__whatWeDo__wrapper2 {
  position: initial;
}

.__whatWeDo__wrapper2 .__whatWeDo__element {
  position: initial;
}




.__whatWeDo__element:nth-child(2) {
  right: 0;
}




.__whatWeDo__element__placeholder {
  width: 100%;
  height: 100%;



  padding: 11px 50px 35px 32px;
  position: relative;
}


.__whatWeDo__number {
  position: absolute;
  right: 56px;
  top: 10px;

  color: rgba(255, 255, 255, 0.10);
  text-align: right;
  font-size: 128px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}



.__whatWeDo__desc {

  width: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.__whatWeDo__image {}

.__whatWeDo__name__element {
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 29px;
}

.__whatWeDo__desc_element {
  height: 21px;
  display: flex;
  align-items: center;

  /*************/
  transition: height 0.3s ease-in-out;
}

.__whatWeDo__desc__elements {
  min-height: 150px;

}

.__whatWeDo__desc_element__circle {

  position: relative;
  background: linear-gradient(135deg, #07E6D9 0%, #1C423F 89.58%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 10px;

  z-index: 200;

  opacity: 0;
  /*************/
  transition: opacity 0.3s ease-in-out;
}

.__whatWeDo__desc_element__circle::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 28px;
  background-color: #fff;
  right: 6.5px;
  bottom: -200%;
  z-index: 100;
  /*************/

}

.__whatWeDo__desc_element__circle_last::before {
  display: none;
}

.__whatWeDo__desc_element__text {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.__whatWeDo__button {

  position: absolute;
  right: 56px;
  bottom: 48px;
  display: flex;
  padding: 12px 30px 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 14px;
  border-radius: 40px;
  border: 1px solid #FFF;
  color: #FFF;
  background: #1F9D96;
  opacity: 0;
  /*************/
  transition: opacity 0.3s ease-in-out;



  /**!  *******************/
    /**!  *******************/
      /**!  *******************/
      display: none;

}

.__whatWeDo__element:hover {
  height: 598px;
}

.__whatWeDo__element:hover .__whatWeDo__button {

  opacity: 1;
}

.__whatWeDo__element:hover .__whatWeDo__desc_element__circle {
  opacity: 1;
}

.__whatWeDo__element:hover .__whatWeDo__desc_element {
  height: 40px;
}







/***********************************/
/***********************************/
/***********************************/


.content__portfolio {
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 800;
  margin-bottom: 120px;
  margin-top: 100px;
}

.__portfolio__placeholder {
  position: absolute;
  z-index: 300;
  right: 0;
}



.__portfolio__name__link {
  width: 1300px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(31, 157, 150, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.__portfolio__name {
  color: #fff;
  height: 100px;
  width: 426px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}


.__portfolio__name p {
  position: absolute;
  left: 0;
  bottom: 0px;

  color: #FFF;

  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.__portfolio__link {
  width: 170px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  color: #fff;
  border: 1px solid #1F9D96;


  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;



  /****!   **********************/
    /****!   **********************/
      /****!   **********************/

      display: none;
      visibility: hidden;
}

.__portfolio__container {
  width: 1300px;
  margin: 0 auto;
  margin-top: 46px;


  height: 534px;

  display: flex;
  justify-content: space-between;
}

.__portfolio__list {
  width: 425px;
  height: 100%;
  overflow-y: auto;

}

.__portfolio__list__element {
  width: 100%;
  display: flex;
  align-items: center;

  cursor: pointer;
}



.__portfolio__list__element__circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 15px;
  background: linear-gradient(135deg, #07E6D9 0%, #1C423F 89.58%);
  position: relative;
}

.__portfolio__list__element__circle:before {
  content: "";
  width: 1px;
  height: 28px;
  position: absolute;
  bottom: -28px;
  right: 6.5px;
  background-color: #fff;
}


.__portfolio__list__element:nth-child(5){
  display: none;
  visibility: hidden;
}
.__portfolio__list__element__circle_last:before {
  display: none;
}
.__portfolio__list__element:nth-child(4) .__portfolio__list__element__circle:before{
  display: none;
  visibility: hidden;
}
.__portfolio__list__element__name {
  color: #fff;

  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;

}




.__portfolio__elements {
  width: 830px;
  height: 100%;
}

.__portfolio__elements__wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;



}

.__portfolio__elements__wrapper::-webkit-scrollbar {
  width: 3px;
}

.__portfolio__elements__example {
  height: 253px;
  width: 401px;
  border-radius: 16px;
  border: 1px solid #433E42;

  margin-bottom: 28px;

  background: linear-gradient(152.69deg, #433E42 3.41%, rgba(0, 0, 0, 0) 82.98%);


  cursor: pointer;

}



.__portfolio__elements__example_web{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
  cursor: pointer;
}
.__portfolio__elements__example_web img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 500;
}
.__portfolio__placeholder__text{
  position: absolute;
  width: 100%;
  height: 72px;
  z-index: 600;
  border-radius: 0px 0px 16px 16px;
  background: rgba(0, 0, 0, 0.80);
  bottom: 0;
  padding: 8px 15px;

  color: #FFF;
font-size: 10px;
font-style: normal;
font-weight: 300;
line-height: 149.4%;
z-index: 800;
opacity: 0;
}
.__portfolio__placeholder__text span{
  font-weight: 600;
}
.__portfolio__elements__example:hover .__portfolio__placeholder__text{
  opacity: 1;
}









.__portfolio__elements__example:nth-child(1) {
  margin-bottom: 28px;
}

.tab-content {
  display: none;
}

.tab-content.show {
  display: flex;
}

.tab.active .__portfolio__list__element__name {
  font-weight: 600;
}



#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#modal-content {
  max-width: 80%;
  max-height: 80vh;
  overflow: hidden;
}

#close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}

.modal-content__image {
  width: 1200px;
  height: 600px;


}
.modal-content__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.modal-content__desc{
  display: none;
  visibility: hidden;
  position: absolute;





  left: calc(50% - 75px);
  bottom:  12%;
}


.modal-content__desc a {
  width: 150px;

  width: 170px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  color: #fff;
  border: 1px solid #1F9D96;
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.modal-content__desc a:hover{
  background-color: #1F9D96;

}

































/*******************************/


.content__clients {
  width: 100%;
  position: relative;
  z-index: 600;
  min-height: 100vh;


  /***! ******************************/
    /***! ******************************/
      /***! ******************************/

      display: none;
      visibility: hidden;
}

.content__clients__placeholder {
  position: absolute;
  z-index: 400;
  top: -150px;
}

.content__clients__wrapper {
  width: 1300px;
  margin: 0 auto;
}

.__clients__name {
  width: 100%;
  text-align: center;
}

.__clients__container {
  width: 100%;
  height: 620px;
  position: relative;
  margin-top: 55px;
  z-index: 600;
}

/********1***********/
.__clients__element {
  width: 200px;
  height: 200px;
  background-image: url('./imgs/Ellipse55.png');
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

}

.__clients__element img {
  width: 70%;
}

.__clients__element1 {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.__clients__element2 {
  width: 237px;
  height: 237px;
  position: absolute;

}

.__clients__element3 {
  width: 149px;
  height: 149px;

  position: absolute;
  top: calc(50% - 60px);
  left: 150px;

}

.__clients__element4 {
  width: 193px;
  height: 193px;

  position: absolute;
  top: 40px;
  left: 290px;
}

.__clients__element5 {
  width: 237px;
  height: 237px;

  position: absolute;
  bottom: 0px;
  left: 270px;
}

.__clients__element6 {
  width: 149px;
  height: 149px;

  position: absolute;
  top: 0px;
  left: calc(50% - 75px)
}


.__clients__element7 {
  width: 193px;
  height: 193px;

  position: absolute;
  top: 40%;
  left: calc(50% - 130px)
}

.__clients__element8 {
  width: 193px;
  height: 193px;

  position: absolute;
  top: 20%;
  left: calc(50% + 100px)
}



.__clients__element9 {
  width: 237px;
  height: 237px;

  position: absolute;
  right: 5%;
top: 0;
}

.__clients__element10 {
  width: 149px;
  height: 149px;

  position: absolute;
  right: 30%;
bottom: 10%;
}

.__clients__element11 {
  width: 193px;
  height: 193px;

  position: absolute;
  right: 10%;
bottom: 24%;
}








/*************************************/
.content__whyWe {
  width: 100%;
  min-height: 80vh;
  position: relative;
  z-index: 600;
}


.content__whyWe__placeholder {
  position: absolute;
  right: 0;
  top: -200px;
}

.content__whyWe__placeholder img {
  width: 100%;
}

.content__whyWe__wrapper {
  width: 1320px;
  margin: auto;
  color: #fff;
}

.__whyWe__name {
  width: 360px;
  height: 51px;
  position: relative;
}

.__whyWe__name_text {
  font-size: 40px;
  font-weight: 600;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;

}

.__whyWe__name_line {
  width: 120px;
  height: 2px;
  background-color: #1F9D96;
  position: absolute;
  bottom: 5px;
}

.__whyWe__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 417px;
  margin-top: 79px;
  position: relative;


}

.__whyWe__element {
  width: 310px;
  height: 400px;


  opacity: 0.94;
  border-radius: 16px;
  border: 1px solid #433E42;
  background: url('./imgs/whyweblock.png'), lightgray 50% / cover no-repeat;
  backdrop-filter: blur(15px);


  position: relative;


  /*******/
  transition: transform 0.3s ease-in-out;
}

.__whyWe__element__placeholder {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('./imgs/whyweblock_.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 500;

  opacity: 0;
  /*********/

  transition: opacity 0.3s ease-in-out;
}

.__whyWe__element:hover .__whyWe__element__placeholder {
  opacity: 1;
}

.__whyWe__element:hover {
  transform: translateY(64px);
}





.__whyWe__element__wrapper {
  position: absolute;
  z-index: 600;
  width: 100%;
  height: 100%;
  padding: 83px 27px 0px 27px;

  /***********/
}

.__whyWe__element__name {
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.__whyWe__element__desc {

  margin-top: 29px;

  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 149.4%;
  /* 20.916px */
}















/*************/
.content__ourVision {
  width: 100%;
  min-height: 100vh;
  z-index: 600;
  position: relative;
  /* background-image: url('./imgs/whoweareback.png');

  background-size: cover;
  background-repeat: no-repeat;

  */

}

.__ourVision__placeholder {
  position: absolute;

}

.__ourVision__placeholder img {}

.content__ourVision__placeholder1 {
  right: 0;
}

.content__ourVision__placeholder2 {
  right: 0;
  top: 10vh;
}

.content__ourVision__placeholder3 {
  left: 0;
}

.content__ourVision__placeholder5 {
  left: 150px;
  bottom: 0;
}





.content__ourVision__wrapper {
  width: 1300px;
  margin: 0 auto;
}

.__ourVision__name {
  text-align: right;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.__ourVision__name__wrapper {
  width: 545px;
  position: relative;
  height: 100px;
}

.__ourVision__name_text {
  z-index: 600;

  color: #FFF;
  text-align: right;

  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  position: absolute;
  bottom: 20px;
  right: 0;
}

.__ourVision__name_image {
  z-index: 500;
}

.__ourVision__content {
  width: 100%;
  margin-top: 103px;



}

.__ourVision__column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.__ourVision__column__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 400px;
}

.__ourVision__column__wrapper:nth-child(2) {
  margin-top: 110px;
}

.__ourVision__column__text {
  width: 650px;
  height: initial;

}

.__ourVision__column__text__name {
  color: #FFF;

  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.__ourVision__column__text__name2 {
  text-align: right;
}

.__ourVision__column__text__text {
  color: #FFF;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.__ourVision__column__text__text p{
  margin-bottom: 20px;
}
.__ourVision__column__text__text2 {
  text-align: right;
}

.__ourVision__column__image {
  width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.__ourVision__column__image img {
  transform: scale(0.85);
}










/*******************************************************/

/*******************************************************/

/*******************************************************/



.content__team {
  width: 100%;
  position: relative;
  margin-top: 40px;
  min-height: 100vh;

}

.content__team__placeholder {
  position: absolute;
  right: 0;
  top: -250px;
  z-index: 500;
}

.content__team__wrapper {
  position: relative;
  z-index: 600;
  width: 1300px;
  margin: 0 auto;
}

.__team__name {
  width: 418px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  flex-direction: column;

}

.__team__name img {
  width: 100%;
}

.__team__name {
  color: #FFF;

  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: underline;

  text-decoration-color: #1F9D96;
}

.__team__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 163px;
}

.__team__element {
  width: 264px;
  height: calc(262px + 18px + 50px + 12px + 34px);

}

.__team__element__image {
  width: 262px;
  height: 262px;

  background-image: url('./imgs/team_members.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.__team__element__name_desc {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.__team__element__name {
  height: 51px;
  position: relative;
}

.__team__element__name p {
  position: absolute;
  bottom: 10px;
  right: -35px;
  color: #FFF;
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.__team__element__desc {
  text-align: center;


  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}





/*************************************************/
.content__technologies {
  width: 100%;
  min-height: 100vh;
  z-index: 600;
  position: relative;
}

.content__technologies__placeholder {
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 500;
}

.content__technologies__placeholder img {
  width: 100%;
}





.__technologies__container {
  width: 1300px;
  margin: 0 auto;
  position: relative;
  z-index: 600;
}

.__technologies__name {
  position: relative;
}

.__technologies__name p {
  color: #FFF;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.__technologies__line {
  width: 119px;
  height: 2px;
  background-color: #1F9D96;

  position: absolute;
  bottom: 5px;
}

.__technologies__container__elements {
  width: 100%;
  margin-top: 20px;


  margin-top: 104px;
  height: 550px;


  position: relative;
}

.__technologies__element {
  width: 237px;
  height: 237px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  background-image: url('./imgs/technology_image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.85;

  padding: 10px;
}

.__technologies__element img {
  width: 70%;
  height: 70%;
}
.__technologies__element6 img{
  width: 50%;
}
.__technologies__element1 {
  left: 10px;
  top: 0;
}

.__technologies__element2 {
  left: 0;
  bottom: 50px;
  width: 210px;
  height: 210px;
}

.__technologies__element3 {
  left: 230px;
  top: 200px;
  width: 149px;
  height: 149px;
}

.__technologies__element4 {
  left: 350px;
  top: 50px;

  width: 193px;
  height: 193px;
}

.__technologies__element5 {
  left: 350px;
  bottom: 0px;

  width: 237px;
  height: 237px;
}

.__technologies__element6 {
  left: calc(50% - 50px);
  top: 0px;

  width: 149px;
  height: 149px;
}

.__technologies__element7 {
  left: calc(50% - 50px);
  top: 35%;

  width: 193px;
  height: 193px;
}

.__technologies__element8 {
  left: calc(60%);
  top: 10%;

  width: 193px;
  height: 193px;
}

.__technologies__element9 {
  right: 0;
  top: 0;

  width: 237px;
  height: 237px;
}

.__technologies__element10 {
  right: 12%;
  bottom: 19%;

  width: 193px;
  height: 193px;
}

.__technologies__element11 {
  right: 29%;
  bottom: 0%;

  width: 149px;
  height: 149px;
}




/************************************/
/************************************/
/************************************/
/************************************/

.content__contact {
  width: 100%;
  min-height: 80vh;
  z-index: 600;
  position: relative;
}

.content__contact__placeholder {
  position: absolute;

  z-index: 500;
}
.content__contact__placeholder1{
  position: absolute;
  left: calc( 0%);

}
.content__contact__placeholder2{
  right: 20%;
  bottom: 15%;


}
.content__contact__placeholder3{
  left: calc(0%);

}
.content__contact__placeholder4{
  right: -300px;

}
.content__contact__wrapper {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
  z-index: 600;
}

.__contact__name {
  max-width: 1000px;
  margin: 0 auto;
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: center;

}

.__contact__container {
  margin-top: 77px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.__contact__container__image {
  width: 362px;
  height: 362px;

  background-color: #000;

  border: 12px solid #1F9D96;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;


  margin-top: 30px;



}

.__contact__container__image p {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.__contact__container__image span {
  color: #1F9D96;
}
.__contact__container__form {}

.__contact__container__form__form {
  width: 752px;
  height: 527px;
  background-image: url('./imgs/form_back.png');
  background-size: cover;
  background-repeat: no-repeat;

  opacity: 0.90;

  padding: 32px 32px 41px 32px;
}

.__contact__form__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.__contact__form__block {
  width: 320px;
}

.__contact__form__element {
  width: 100%;
}

.__contact__form__element__name {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  /* 140% */
  letter-spacing: 0.5px;

  margin-top: 8px;

}

.__contact__form__element__input {
  width: 100%;
  margin-top: 16px;
  height: 53px;
}

.__contact__form__element__input input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #FFF;
  background: #FBFBFB;
  padding: 10px 21px;


  color: #1F9D96;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.25px;
}

.__contact__form__element__input input::placeholder {
  color: #1F9D96;
}

.__contact__form__element__textarea {
  margin-top: 14px;
  width: 100%;
}

.__contact__form__element__textarea textarea {
  width: 100%   ;
  height: 152px;
  flex-shrink: 0;
  border-radius: 8px;

  padding: 10px 21px;

  color: #1F9D96;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.25px;
}

.__contact__form__element__textarea textarea::placeholder {
  color: #1F9D96;
}



.__contact__form__terms {
  margin-top: 44px;
}
.__contact__form__terms__block{

}
.__contact__form__submit {
  margin-top: 26px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.__contact__form__submit button {
  width: 252px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 40px;
  border: 1px solid #FFF;
  background: #1F9D96;


  color: #FFF;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}








.__contact__form__element__radio {}

.__contact__form__element__radio__name {
font-size: 20px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0.5px;
text-align: left;
margin-top: 26px;
color: #fff;
margin-bottom: 9px;
height: 56px;
}
.__contact__form__radio__container{
  width: 100%;

  display: flex;
  justify-content: space-between;
}


    /* Style for custom radio buttons */
    .custom-radio {
      display: flex;
      align-items: center;



    }

    .custom-radio input[type="radio"] {
      display: none;
    }

    .custom-radio label {
      position: relative;
      padding-left: 30px;

color: #fff;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

      cursor: pointer;
      font-size: 16px;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .custom-radio label:before {
      content: '';
      position: absolute;
      left: 0;

      width: 20px;
      height: 20px;
      border: 2px solid rgba(31, 157, 150, 1);
      border-radius: 8px;
      background-color: #fff;
      transition: background-color 0.3s;
    }

    .custom-radio input[type="radio"]:checked + label:before {
      background-color: rgba(31, 157, 150, 1); /* Change this color for the selected state */
      border-color: rgba(31, 157, 150, 1);
    }













.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
  color: #fff;

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.25px;
}
.form-group label  a {
  color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.25px;
text-decoration-line: underline;
}
.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #1F9D96;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  background-color: #1F9D96;
  position: absolute;
  top: 0px;
  left: 1px;
  width: 22px;
  height: 22px;
  border-radius: 8px;


}



















.__whyWe__container__mobile{
  display: none;
  visibility: hidden;
}


.content__footer {
  width: 100%;
  z-index: 600;
  position: relative;
  min-height: 120px;

}

.content__footer__placeholder{
  position: absolute;
  z-index: 500;

}
.content__footer__placeholder1{
  left: -50px;
  top: -100px;
  transform: rotate(90deg);
  width: 190px;


color: #fff;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0.12em;
text-align: left;

  
}
.content__footer__placeholder2{
  right: -100px;
  top: -180px;
  transform: rotate(-90deg);
  width: 300px;


color: #fff;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0.12em;
text-align: left;

}
.__footer__wrapper {
  width: 95.5%;
  height: 80px;
  margin: 0 auto;
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.__footer__logo {}

.__footer__social__wrapper {
  width: 550px;
  height: 50px;

  margin-right: 20%;
}

.__footer__social__wrapper__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.__footer__social__element{
  width: 45px;
  height: 45px;

  border-radius: 6px;
background: rgba(157, 157, 157, 0.50);

display: flex;
align-items: center;
justify-content: center;

cursor: pointer;


}



.__footer__social__element:hover{
  border-radius: 6px;
background: linear-gradient(180deg, #1F9D96 0%, #9D9D9D 100%);
}

.__portfolio__link__mobile{
  display: none;
  visibility: hidden;
}


/* Error message style */
.error-message {
  color: #07E6D9;
  font-size: 0.875rem;
  font-weight: 600;
  display: none; /* Initially hidden */
  margin-top: 4px;
}

/* Popup style */
.popup {
  position: fixed;
  height: 428px;
  width: 752px;
  padding: 79px 102px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #111;
  color: #fff;

  border-radius: 10px;
  text-align: center;
  display: none; /* Initially hidden */
  z-index: 1000;

  flex-direction: column;
  justify-content: space-evenly;
}
.popup p{
  font-size: 18px;
  margin-bottom: 35px;
}
.popup-footer {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.form-group-terms{
  height: 37px;
}
@media only screen and (max-width: 1480px) {
  .__footer__wrapper {
    height: 190px;
  }
  .__footer__social__wrapper {
    margin-right: 10%;
  }
  .content__contact__placeholder3 {
    left: calc(-6%);
  }
  .content__contact__placeholder4 {
    right: -300px;
    bottom: -288px;
    transform: rotate(180deg);
  }
  .content__contact__placeholder2{
    right: 8%;
    bottom: -33%;
  }
  .__contact__container{
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 1380px) {
  .__main__block__logo {
    width: 200px;
  }
  .__main__block__text {
    height: 230px;
  }
  .__main__block__text_container p:nth-child(1) {
    font-size: 18px;
  }
  .__main__block__text_container p:nth-child(2){
    font-size: 22px;
  }
  .__main__block__text_container p:nth-child(3){
    font-size: 32px;
  }
  .__main__block__text_container p:nth-child(4) {
    font-size: 39px;
  }
  .__main__block__text_container img {
    width: 85%;
}
.__main__additional_desc__block{
  width: 540px;
  font-size: 18px;
  font-weight: 300;
}
.__main__image__placeholder4 img{
  transform: scale(0.8);
}
.__main__image__placeholder4{
  right: 24px;
}
.__whatWeDo__element{
  width: 512px;
  height: 408px;
}
.__whatWeDo__wrapper {
  max-width: 1050px;
}
.__whatWeDo__number{
    font-size: 80px;
}
.__whatWeDo__name__element{
  font-size: 29px;
}
.__whatWeDo__image img{
  transform: scale(0.8);
}
.__whatWeDo__element__placeholder{
  padding: 8px 30px 25px 25px;
}
.__whatWeDo__element:hover .__whatWeDo__desc_element{
  height: 35px;
}
.__whatWeDo__element:hover {
  height: 455px;
}
.content__portfolio{

}

.__portfolio__elements__example{
  height: 227px;
  width: 360px;
}
.__portfolio__elements {
  width: 765px;
}
.content__clients{
  margin-top: 20vh;
}

.__clients__container {
  height: 530px;
}
.__clients__element {
  transform: scale(0.9);
}
.__clients__element3 {
  left: 173px;
}
.content__whyWe{
  margin-top: 21vh;
}
.content__whyWe__placeholder {
  top: -48px;
}

.content__ourVision__wrapper{
  margin-top: 20vh;
}
.__ourVision__column__text {
  width: 600px;
}
.content__team{
  margin-top: 24vh;
}
.content__team__wrapper{
  width: 1200px;
}
.__team__container{
  margin-top: 110px;
}
.__team__name{
  transform: scale(0.8);
}
.content__technologies{
  margin-top: 15vh;
}
.__technologies__container__elements{
  height: 500px;
  width: 1180px;
  margin: 0 auto;
  margin-top: 100px;
}
.__technologies__element{
  transform: scale(0.8);
}
.content__contact{
  margin-top: 20vh;
}
.__contact__name {
  font-size: 40px;
  line-height: 55px;
}
.__contact__container__form__form {
  width: 680px;
  height: 480px;
  padding: 0px 25px 41px 25px;
}
.__contact__form__terms {
  margin-top: 30px;
}
.__contact__form__block {
  width: 301px;
}
.__contact__form__element__name {
  font-size: 19px;
}
.__contact__form__element__input {
  margin-top: 11px;
}
.__contact__form__element__radio__name {
  font-size: 18px;
  margin-top: 15px;
}
.custom-radio label {
  font-size: 15px;
}
.__contact__form__element__input input {
  padding: 10px;
}
.__contact__container__image{
  transform: scale(0.8);
}
.content__whyWe__wrapper {
  width: 1300px;
}
.__whyWe__element{
  transform: scale(0.9);
}
.__whyWe__element__wrapper {
  padding: 70px 27px 0px 27px;
}
.__whyWe__element__name {
  font-size: 30px;
}
.__whyWe__element:hover{
  transform: translateY(64px) scale(0.9);
}
.__footer__wrapper {
  height: 170px;
}

.__main__additional_desc__block{
  bottom: -50px;
}

.content__whatWeDo{
  margin-top: 100px;
}
.__whatWeDo__wrapper{
  margin-top: 0;
}
.__whatWeDo__name{
  margin-bottom: 50px;
}
.__whatWeDo__wrapper2{
  margin-top: 20px;
}
.__main__image__placeholder4 {
  bottom: -270px;
}
.__main__image__placeholder3{
  bottom: -614px;
}
.__whatWeDo__placeholder {
  bottom: -200px;
}
.content__portfolio{
  margin-top: 0px ;
}


.content__whyWe{
  margin-top: 0;
}





.__portfolio__name__link{
  width: 1150px;
}
.__portfolio__container {
  width: 1150px;
}
.content__whyWe__wrapper{
  width: 1150px;
}
.content__ourVision__wrapper{
  width: 1150px;
}
.__ourVision__column__image{
  justify-content: end;
}
.__ourVision__column__text:nth-child(2){
  width: 450px;
}
.__ourVision__column__text:nth-child(2) .__ourVision__column__image{
  justify-content: start;
}
.__technologies__container{
  width: 1150px;
}
.header__circle__burger{
  right: 40px;
  top: 40px;
}
}
@media only screen and (max-width: 1290px){
  .__whatWeDo__element {
    width: 500px;
    height: 390px;
  }
  .content__whatWeDo{
    min-height: 1100px;
  }
  .__team__name{
    transform: scale(0.65);
  }
}

@media only screen and (max-width: 1050px) {

  .__whyWe__container__pc{
    display: none;
    visibility: hidden;
  }

  .__whyWe__container__mobile{
    display: block;
    visibility: visible;
    height: 420px;
  }




  .__main__block__text{
    width: 320px;
    margin: 0 auto;
    left: calc(50% - 160px);
    height: 190px;
  }
  .__main__block__text_container p:nth-child(1){
    font-size: 15px;
  }
  .__main__block__text_container p:nth-child(2){
    font-size: 16px;
  }

  .__main__block__text_container p:nth-child(3){
    font-size: 23px;
  }

  .__main__block__text_container p:nth-child(4){
    font-size: 26px;
  }
  .__main__block__text_container img{
    width: 100%;
  }
  .__main__block__logo {
    width: 130px;
    top: 25px;
    left: 25px;
  }
  .__main__additional_desc__block{
    left: 25px;
    bottom: 80px;
    width: 340px;

    font-size: 15px;
    line-height: 21px;
  }
  .__main__additional_desc__block a {
    margin-top: 20px;
  }
  .content__whatWeDo {
    margin-top: 174px;
  }
  .__main__image__placeholder4 {
    transform: scale(0.8);
    right: -72px;
  }










  .__whatWeDo__name {
    margin-bottom: 63px;
  }
  .__whatWeDo__element:hover .__whatWeDo__desc_element{
    height: initial;
  }
  .__whatWeDo__wrapper {
    height: initial;
    min-height: 510px;
    max-width: 320px;
    flex-direction: column;
  }
  .__whatWeDo__element {
    width: 320px;
  }
  .__whatWeDo__element{
    position: initial;
    margin-bottom: 20px;
  }
  .__whatWeDo__number {
    right: 18px;
    top: 7px;
    font-size: 59px;
  }
  .__whatWeDo__image{
    transform: scale(0.9);
    width: 100px;
  }
  .__whatWeDo__name__element{
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .__whatWeDo__desc{
    width: initial;
  }
  .__whatWeDo__desc_element__circle{
    display: none;
    visibility: hidden;
  }
  .__whatWeDo__desc{
    justify-content: initial;
  }
  .__whatWeDo__element:hover {
    height: 408px;
  }
  .__whatWeDo__element:hover .__whatWeDo__desc_element{
    height: 21px;
  }
  .__whatWeDo__button{
    opacity: 1;
    right: 22px;
    bottom: 22px;
  }
  .__whatWeDo__desc_element{

  }

  .content__portfolio {
    margin-top: 550px;
  }
  .__whatWeDo__desc_element__text p {
    font-size: 13px;
    
  }
.__whatWeDo__desc_element__text {

  line-height: 19px;

}
  .__whatWeDo__desc__elements_services .__whatWeDo__desc_element{
    height: 28px;
  }

  .__whatWeDo__desc__elements_design .__whatWeDo__desc_element{
    height: 29px;
  }
  .__portfolio__container{
    height: initial;
    flex-direction: column;
  }
  .content__whatWeDo {

    min-height: 182vh;
}

.__portfolio__name__link {
  width: 330px;
  flex-direction: column;
}
.__portfolio__link{
  display: none;
  visibility: hidden;
}
.__portfolio__name{
  width: 100%;
}
.__portfolio__name p {
  font-size: 30px;
  bottom: 7px;
}
.__portfolio__name img{
  width: 100%;
}
.__portfolio__container {
  width: 340px;
}
.__portfolio__list{
  width: 100%;
}
.__portfolio__elements {
  width: 100%;
}
.__portfolio__link__mobile{
  visibility: hidden;
  display: block;
  width: 170px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  color: #fff;
  border: 1px solid #1F9D96;


  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 auto;
}

.content__clients__wrapper{
  width: 330px;
}
.__clients__name img{
  width: 100%;
}
.__clients__element{
  transform: scale(0.6);
}
.__clients__container{

  height: 620px;
}
.__clients__element1{
  left: 50px;
  bottom: -50px;
}
.__clients__element2{
  left: -50px;
  top: -46px;
}
.__clients__element3 {
  left: 210px;
  top: calc(50% - 44px);
}
.__clients__element4 {
  top: -32px;
  left: 153px;
}
.__clients__element5 {
  bottom: 36px;
  right: -46px;
  left: initial;
}
.__clients__element6{
  top: 84px;
}
.__clients__element7 {
  top: 42%;
  left: calc(50% - 88px);
}
.__clients__element8{
  left: calc(50% + 8px);
}
.__clients__element9 {
  left: -10%;
  top: 131px;
}
.__clients__element10{
  left: -8%;
  bottom: 5%;
}
.__clients__element11{
  left: -13%;
  bottom: 20%;
}
.content__whyWe {
  margin-top: 16vh;
}
.content__whyWe__placeholder {
  top: -100px;
}
.content__whyWe__wrapper {
  width: 100%;
}
.__whyWe__container{
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.__whyWe__element:hover {
  transform: translateY(32px) scale(0.9);
}

.content__ourVision__wrapper{
  flex-direction: column;
}
.__ourVision__column__wrapper{
  flex-direction: column;
}
.__ourVision__name{
  flex-direction: initial;
}
.__ourVision__name__wrapper{
  width: 300px;
  margin: 0 auto;
  height: 4dvb;


}
.content__ourVision__wrapper {
  max-width: 330px;
}
.__ourVision__name_image img{
  width: 100%;
}
.__ourVision__name_text{
  font-size: 18px;
  bottom: -10px;
}
.__ourVision__column__wrapper{
  height: initial;
}
.__ourVision__column__text {
  width: 100%;
}
.__ourVision__column__image{
  width: initial;
}
.__ourVision__column__image:nth-child(2){
  display: none;
}
.__ourVision__column__text__name2{
  text-align: left;
}
.__ourVision__column__text__text2{
  text-align: left;
}
.__ourVision__column__text__name{
  font-size: 34px;
  margin-bottom: 10px;
}
.__ourVision__column__text__text {
  font-size: 15px;
}
.content__team{
  margin-top: 0px;
}
.content__team__wrapper{
  max-width: 330px;

}
.__team__name{
  transform: initial;
  font-size: 22px;
  max-width: 330px;
  display: flex;
  align-items: center;
}
.__team__name img{
  width: 60%;
}
.__team__container{
  margin-top: 40px;
  flex-wrap: wrap;
}
.__team__element {
  width: 150px;

  margin-bottom: 30px;
  overflow: hidden;
  height: 214.5px;
}
.__team__element__image{
  width: 149px;
  height: 149px;
}
.__team__element__name{
  transform: scale(0.7);
  height: 30px;
}
.__team__element__name_desc {
  margin-top: 0px;
}
.__team__element__name p{
  bottom: -15px;
}
.__team__element__desc {
  font-size: 9px;
  margin-top: 9px;
}
.content__team {
  margin-top: 150px;
  min-height: initial;
}

.__technologies__container{
  max-width: 330px;
}
.__technologies__name p {
  font-size: 28px;
}
.__technologies__container__elements{
  width: 330px;

}
.content__technologies__placeholder {
  top: -64px;
}
.__technologies__element{
  transform: initial;
  width: 20px;
  height: 20px;
}
.__technologies__element1{

  left: 0;
  top: 0;
  width: 80px;
  height: 80px;

}
.__technologies__element2{

  width: 100px;
  height: 100px;
  left: 5px;
  bottom: 0;
}
.__technologies__element3{
  width: 120px;
  height: 120px;
  right: 0px;
  left: initial;
  top: 10px;
}
.__technologies__element4{

  left: 80px;
  width: 100px;
  height: 100px;
  top: 30px;
}
.__technologies__element5{

  left: 0;
  top: 130px;
  width: 120px;
  height: 120px;
}
.__technologies__element6{

  width: 80px;
  height: 80px;
  top: 140px;
  left: 130px;
}
.__technologies__element7{
  height: 100px;
  width: 100px;

  right: 0;
  left: initial;
}
.__technologies__element8{
  width: 120px;
  height: 120px;
  left: 100px;
  top: 230px;
}
.__technologies__element9{

  left: 0;
  width: 80px;
  height: 80px;
  bottom: 160px;
  top:  initial;
}
.__technologies__element10{
  width: 120px;
  height: 120px;
  bottom: 0;
  right: 10px;
}
.__technologies__element11{
  left: 115px;
  bottom: 55px;

  width: 80px;
  height: 80px;

}























.swiper {
  width: 100%;
  height: 100%;

}

.swiper-slide {


  display: flex;
  justify-content: center;
  align-items: center;

}
.__whyWe__name{
  width: 330px;
  margin-left: calc(30vw - 16%);
  font-size: 24px;
}
.__whyWe__name_text {
  font-size: 24px;
}




.content__contact__wrapper{
  width: 330px;

}
.__contact__name{
  font-size: 22px;
  line-height: 37px;
  font-weight: 400;
}
.__contact__container{
  flex-direction: column;
  align-items: center;
}


.__contact__container__image{
  width: 260px;
  height: 260px;
  border: 5px solid #1F9D96;
}
.__contact__container__image p {
  font-size: 48px;
}
.__contact__container__form__form{
  width: 100%;
  height: initial;
}
.__contact__form__wrapper{
  flex-direction: column;
}
.__contact__container{
  margin-top: 0;
}

.content__footer__placeholder2{
  right: initial;
  top: initial;
  transform: initial;
  left: 20px;
  bottom: 50px;
}

.content__footer__placeholder1{
  right: initial;
  top: initial;
  bottom: 70px;
  transform: initial;
  left: 20px;
}
.__footer__wrapper{
  margin-top: 30px;
  margin-bottom: 80px;

  width: 330px;
  padding-bottom: 20px;
  align-items: initial;
  justify-content: initial;
  flex-direction: column;
  height: 200px;
}
.__footer__social__wrapper{
  margin-top: 20px;
}
.__footer__social__wrapper{
  width: 330px;
}.__footer__social__element{
  transform: scale(0.8);
}
.__contact__container__form__form{
  border-radius: 25px;
}
.content__contact{
  margin-top: initial;
}
.content__ourVision__wrapper{
  margin-top: initial;
}
.header__circle__burger{
  right: 15px;
  top: 15px;
}
.expanded-block-container {
  top: 92px;
  

}
.expanded-block{
  position: absolute;
  margin-right: 0px;
  padding-right: 20px;
  background-color: #1C423F;
  border-radius: 10px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.expanded-block p {
  margin-bottom: 10px;
  font-size: 17px;
}
.expanded-block a {
  width: 100%;
}
.content__ourVision__wrapper{
  position: relative;
  z-index: 800;
}
.__ourVision__column__wrapper:nth-child(2){
  margin-top: 20px;
}
.__ourVision__column__image img{
  transform: scale(0.55);
}
.__ourVision__column__image{
  height: 280px;
}
.__ourVision__column__text:nth-child(2){
  width: initial;
}

.__portfolio__placeholder__text{
  opacity: 1;
}
.__portfolio__placeholder__text_mobile p br{
  display: none;
  visibility: hidden;
}
.modal-content__image{
  width: initial;
  height: initial;
}
.__whatWeDo__desc__elements_marketting .__whatWeDo__desc_element{
  margin-top: 15px;
}
.__whatWeDo__element__placeholder:hover{
  height: initial;
}
}
@media only screen and (max-width: 450px){
  .__portfolio__list{
    margin-bottom: 35px;
  }
  .content__portfolio {
    margin-top: 370px;
  }
  .content__whyWe {
    margin-top: -12vh;
    min-height: 502px;
  }

  .__ourVision__content{
    margin-top: 30px;
  }
  .content__technologies {
    margin-top: 4vh;
  }
  .__technologies__container__elements {
    margin-top: 64px;
    }
    .__contact__form__element__textarea textarea{
      padding: 10px;
    }
    .__whatWeDo__element:hover .__whatWeDo__desc_element {
      height: 21px;
    }
    .__whatWeDo__element:hover {
      height: 390px;
    }
    .__whatWeDo__desc__elements{

      min-height: 220px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .content__portfolio {
      margin-bottom: 80px;
    }
    .__portfolio__container {
      margin-top: 37px;
    }
    .content__whatWeDo {
      min-height: 1400px;
    }
}