@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-ms-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/**************************************/
/**************************************/
/**************************************/
/**************************************/


.main__wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 1);
}

.main__wrapper__placeholder {}

.content__container {
  width: 100%;

  overflow: hidden;
}

.content__main__block {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 400;
}

.__main__block__wrapper{
  width: 100%;
  min-height: 100vh;
  position: absolute;
  z-index: 100;
}
.__main__image__placeholder{
  position: absolute;
  z-index: 20;
}
.__main__image__placeholder2{
  position: absolute;
  z-index: 20;
  right: 0;
  bottom: -25em;
}
.__main__image__placeholder3{
  position: absolute;
  z-index: 20;
  right: 0px;
  bottom: -40em;
}
.__main__image__placeholder4{
  position: absolute;
  z-index: 10;
  right: 89px;
  bottom: -20em;
}

.__main__block__logo {
  position: absolute;
  height: 100px;
  width: 300px;
  top: 54px;
  left: 54px;
}

.__main__block__image img{
  width: 100%;
}

.__main__block__text {
  position: absolute;
  width: 619px;
  top: calc(50% - 131.5px);
  left: calc(50% - 309.5px);
  height: 263px;
}

.__main__block__text_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 700;
  color: #fff;
}

.__main__block__text_container p:nth-child(1) {
  font-size: 22px;
}

.__main__block__text_container p:nth-child(2) {
  font-size: 26px;
}

.__main__block__text_container p:nth-child(3) {
  font-size: 36px;
}

.__main__block__text_container p:nth-child(4) {
  font-size: 45px;
}

.__main__block__text_container img {
  width: 100%;
}

.__main__social__block {}

.__main__additional_desc__block {
  width: 600px;
  height: 160px;
  position: absolute;
  bottom: 50px;
  left: 54px;
}
.__main__additional_desc__block{
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
color: #fff;
text-align: left;

}
.__main__additional_desc__block a {

  margin-top:  33px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 40px;
  width: 150px;
  background-color: rgba(31, 157, 150, 1);
  border-radius: 40px;
  border: 1px solid #fff;
  font-size: 13px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
}
.__main__additional_desc__block a p {


font-size: 13px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
color: #fff;

}
.__main__additional_desc__block img{
  height: 11px;
  width: 16px;
}



/**********WHAT WE DO***********/
/**********WHAT WE DO***********/
/**********WHAT WE DO***********/

.content__whatWeDo {
  width: 100%;
min-height: 150vh;
  position: relative;
  z-index: 500;

}
.__whatWeDo__container{
  z-index: 500;
  position: absolute;
  width: 100%;


}
.__whatWeDo__placeholder{
  width: 100%;
  position: absolute;
  z-index: 300;

  bottom: -50vh;


}
.__whatWeDo__placeholder img{
  width: 100%;
}


.__whatWeDo__name {
  margin-left: 45px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 49px;
  margin-bottom: 154px;
}
.__whatWeDo__name p {
  font-size: 40px;
  font-weight: 500;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  
}
.__whatWeDo__line{
  width: 110px;
  height: 2px;
  background-color: rgba(31, 157, 150, 1);
  position: absolute;
  bottom: 5px;
}
.__whatWeDo__container__block {
  width: 100%;
}

.__whatWeDo__wrapper {

  
  height: 510px;

  max-width: 1302px;
  margin: 0 auto;

  margin-top: 23px;
  display: flex;
  justify-content: space-between;

  position: relative;
  

}



/*******************************/
.__whatWeDo__element {
  border-radius: 16px;
  width: 640px;
  height: 510px;


  background: url('./imgs/Rectangle\ 3.png');
  background-repeat: no-repeat;
  background-size: cover;
  

  opacity: 0.95;

  transition: height 0.3s ease; 


  position: absolute;
  bottom: 0;
}

.__whatWeDo__wrapper2{
  position: initial;
}
.__whatWeDo__wrapper2 .__whatWeDo__element{
  position: initial;
}




.__whatWeDo__element:nth-child(2){
  right: 0;
}




.__whatWeDo__element__placeholder{
  width: 100%;
  height: 100%;



  padding: 11px 50px 35px 32px;
  position: relative;
}


.__whatWeDo__number {
  position: absolute;
  right: 56px;
  top: 10px;

  color: rgba(255, 255, 255, 0.10);
text-align: right;
font-size: 128px;
font-style: normal;
font-weight: 600;
line-height: normal;
}



.__whatWeDo__desc {

  width: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}
.__whatWeDo__image {}

.__whatWeDo__name__element{
  color: #FFF;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 20px;
margin-bottom: 29px;
}
.__whatWeDo__desc_element {
  height: 21px;
  display: flex;
  align-items: center;

  /*************/
  transition: height 0.3s ease;
}
.__whatWeDo__desc__elements{
  min-height: 150px;

}
.__whatWeDo__desc_element__circle {

  position: relative;
  background: linear-gradient(135deg, #07E6D9 0%, #1C423F 89.58%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 10px;

  z-index: 200;

  opacity: 0;
  /*************/
transition: opacity 0.3s ease;
}
.__whatWeDo__desc_element__circle::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 28px;
  background-color: #fff;
  right: 6.5px;
  bottom: -200%;
  z-index: 100;
    /*************/

}

.__whatWeDo__desc_element__circle_last::before {
  display: none;
}

.__whatWeDo__desc_element__text {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.__whatWeDo__button {

  position: absolute;
  right: 56px;
  bottom: 48px;
  display: flex;
padding: 12px 30px 12px 32px;
justify-content: center;
align-items: center;
gap: 14px;
border-radius: 40px;
border: 1px solid #FFF;
color: #FFF;
background: #1F9D96;
opacity: 0;
/*************/
transition: opacity 0.3s ease;


}

.__whatWeDo__element:hover{
  height: 598px;
}
.__whatWeDo__element:hover .__whatWeDo__button{

  opacity: 1;
}

.__whatWeDo__element:hover .__whatWeDo__desc_element__circle {
  opacity: 1;
}
.__whatWeDo__element:hover .__whatWeDo__desc_element{
  height: 40px;
}







/***********************************/
/***********************************/
/***********************************/


.content__portfolio {
  position: relative;
  width: 1300px;
  margin: 0 auto;
  z-index: 600;
  min-height: 100vh;
}

.__portfolio__name__link {
  width: 100%;
  border-bottom: 1px solid rgba(31, 157, 150, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.__portfolio__name {
  color: #fff;
  height: 100px;
  width: 426px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}


.__portfolio__name p{
  position: absolute;
  left: 0;
  bottom: 0px;

  color: #FFF;

font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.__portfolio__link {
  width: 170px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  color: #fff;
border: 1px solid #1F9D96;


color: #FFF;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.__portfolio__container {}

.__portfolio__list {}

.__portfolio__elements {}

.content__clients {}

.__clients__name {}

.__clients__container {}

.__clients__element {}

.content__whyWe {}

.__whyWe__name {}

.__whyWe__name_text {}

.__whyWe__name_line {}

.__whyWe__container {}

.__whyWe__element {}

.__whyWe__element__wrapper {}

.__whyWe__element__name {}

.__whyWe__element__desc {}

.content__ourVision {}

.__ourVision__name {}

.__ourVision__name_text {}

.__ourVision__name_image {}

.__ourVision__content {}

.__ourVision__column {}

.__ourVision__column__wrapper {}

.__ourVision__column__text {}

.__ourVision__column__text__name {}

.__ourVision__column__text__text {}

.__ourVision__column__image {}

.content__team {}

.__team__name {}

.__team__container {}

.__team__element {}

.__team__element__image {}

.__team__element__name_desc {}

.__team__element__name {}

.__team__element__desc {}

.content__technologies {}

.__technologies__container {}

.content__contact {}

.__contact__name {}

.__contact__container {}

.__contact__container__image {}

.__contact__container__form {}

.content__footer {}

.__footer__wrapper {}

.__footer__logo {}

.__footer__social__wrapper {}